/* Welcome Page Styles */
.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    background-color: #FFFFFF;
    color: #000;
}

/* Welcome Text */
.welcome-text {
    max-width: 100%; /* Allow the text to expand fully on small screens */
    text-align: left;
    margin-bottom: 20px;
}

.welcome-text h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.welcome-text h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.welcome-text p {
    font-size: 1.1rem;
    margin: 1rem 0;
    line-height: 1.6;
}

/* Button Styles */
.welcome-button {
    background-color: #f39c12;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.welcome-button:hover {
    background-color: #e67e22;
}

/* Image Container */
.welcome-image-container {
    position: relative;
    width: 100%; /* Make the image container responsive */
    margin-top: 20px;
}

.welcome-image {
    width: 100%;
    border-radius: 10px;
}

/* Responsive Styles */
@media (min-width: 768px) {
    .welcome-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .welcome-text {
        max-width: 60%; /* Limit text width on larger screens to cover more space */
        margin-bottom: 0;
    }

    .welcome-image-container {
        width: 40%; /* Control image width on larger screens */
        margin-left: 40px; /* Add space between text and image */
        margin-top: 0;
    }
}
